/* =========================1행 캠페인 표지(mobile)======================= */
#wrap .intro {
    background-image:url(../images/bg1.png);
    background-size:auto 130%;
    background-position:center bottom;
    padding:100px 0;
    position:relative;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
}
#wrap .intro > * {position:relative; z-index:100;}
#wrap .intro::after {
    content:''; display:block; width:100%; height:100%;
    background:linear-gradient(transparent, #000 69%); opacity:0.6;
    position:absolute; z-index:90; left:0; top:0;
}
#wrap .intro .logo {
    width:24px; 
    position:absolute;/* 피그마 무시기능과 동일 absolute */ left:21px; top:18px;
    z-index:99999999;
}
#wrap .intro .logo img {width:100%;}
#wrap .intro h1 {text-align:center; margin:0 0 50px;}
#wrap .intro h1 span {
    color:#fff;
    font-size:1.88rem;
    line-height:1.3;
}
#wrap .intro h1 span:nth-child(1) {}
#wrap .intro h1 span:nth-child(2) {display:block;}
#wrap .intro .sponsor_btn {}
/* =======================================2행========================================== */
#wrap .quiz_bg {
    background-image:url(../images/quiz_bg.png);
    padding:70px;
}
#wrap .quiz_bg .quiz {display:flex; flex-flow:column nowrap;} /* t, d column -> row */
#wrap .quiz_bg .quiz .quiz_list {margin:0 0 50px;}
#wrap .quiz_bg .quiz .quiz_list > * {margin-bottom:16px;}
#wrap .quiz_bg .quiz .quiz_list h1 {
    font-size:1.5rem; line-height:1.2; letter-spacing:-0.01rem; font-weight:500;
    font-family:Noto Sans KR, sans-serif; /* 단독 글꼴일 경우 */
}
#wrap .quiz_bg .quiz .quiz_list h2 {line-height:1.7;}
#wrap .quiz_bg .quiz .quiz_list h2 span {
    line-height:1.7;
}
#wrap .quiz_bg .quiz .quiz_list h2 span:nth-child(2) {
    display:block;
}
#wrap .quiz_bg .quiz .quiz_list form {}
#wrap .quiz_bg .quiz .quiz_list form ul {margin-bottom:16px;}
#wrap .quiz_bg .quiz .quiz_list form ul > * {margin-bottom:8px;}
#wrap .quiz_bg .quiz .quiz_list form ul li {margin-bottom:16px;}
#wrap .quiz_bg .quiz .quiz_list form ul li:last-child {margin-bottom:0;}
#wrap .quiz_bg .quiz .quiz_list form ul li input {display:none;}
#wrap .quiz_bg .quiz .quiz_list form ul li input:checked + label {
    background-image:url(../images/check_on.svg);
}
#wrap .quiz_bg .quiz .quiz_list form ul li label {
    color:#fff; font-size:0.88rem;
    background-image:url(../images/check_off.svg);
    background-size:16px;
    background-repeat:no-repeat;
    padding-left:47.75px;
}
#wrap .quiz_bg .quiz .quiz_list form ul li:hover label {color:#16A9C6;}
#wrap .quiz_bg .quiz .quiz_list form #answer_btn {
    width:100%; padding:10px 0;
    background-color:#050505;
    color:#fff; border-radius:50px;
    line-height:1.7;
}
#wrap .quiz_bg .quiz .quiz_list form #answer_btn:hover {
    background:linear-gradient(90deg,#16A9C6,#02C7E6);
}
#wrap .quiz_bg .quiz .quiz_status {}
#wrap .quiz_bg .quiz .quiz_status img {
    width:100%;
    margin-bottom:20px;
}
#wrap .quiz_bg .quiz .quiz_status p {
    font-size:1.25rem;
    text-align:right;
}
/* =========공통 선택자============ */
#wrap .quiz_bg .quiz .quiz_list h1,
#wrap .quiz_bg .quiz .quiz_list h2 span,
#wrap .quiz_bg .quiz .quiz_status p {
    color:#fff;
    line-height:1.7;
}
/* =================================3행==================================== */
#wrap .video_bg {
    background-image:url(../images/video_bg.png);
}
#wrap .video_bg .video h1 {}
#wrap .video_bg .video iframe {width:100%; margin-bottom:70px;}
/* =================================4행==================================== */
#wrap .reduction_bg {
    background-image:url(../images/minus_50per_bg.png);
    padding:70px 15px;
}
#wrap .reduction_bg .reduction h1 {}
#wrap .reduction_bg .reduction p {}
#wrap .reduction_bg .reduction p img {width:100%;}
/* =================================5행==================================== */
#wrap .humanity_bg {
    background-color:#f5f5f5;
}
#wrap .humanity_bg .humanity .list {
    display:flex;
    flex-flow:column nowrap;
    gap:20px;
    /* display:grid; grid-template-rows:1fr 1fr 1fr; */
}
#wrap .humanity_bg .humanity .list li {}
#wrap .humanity_bg .humanity .list li:nth-child(1) dl {
    background-image:url(../images/melt_28t.png);
}
#wrap .humanity_bg .humanity .list li:nth-child(2) dl {
    background-image:url(../images/melt_27cm.png);
}
#wrap .humanity_bg .humanity .list li:nth-child(3) dl {
    background-image:url(../images/wwf.jpg);
}
#wrap .humanity_bg .humanity .list li dl {
    padding:48px 0;  
    background-size:cover; 
    background-position:center;
    text-align:center; 
    position:relative;
}
#wrap .humanity_bg .humanity .list li dl * {
    color:#fff; position:relative; z-index:11; 
}
#wrap .humanity_bg .humanity .list li dl:before {
    content:''; display:block; width:100%; height:100%;
    background:linear-gradient(#000, #000,transparent, transparent, transparent, transparent);
    position:absolute; left:0; top:0; z-index:10;
}
#wrap .humanity_bg .humanity .list li dl dt {
    font-size:1.38rem; line-height:1.2;
    margin-bottom:11px; 
}
#wrap .humanity_bg .humanity .list li dl dd {
    line-height:1.7;
}
#wrap .humanity_bg .humanity .list li .txt {
    background-color:#fff;
}
#wrap .humanity_bg .humanity .list li .txt p {padding:20px; line-height:1.7;}
/* =================================6행==================================== */
#wrap .crisis_bg {
    background-image:url(../images/minus_50per_bg.png);
}
#wrap .crisis_bg .crisis h1 {}
#wrap .crisis_bg .crisis p {}
#wrap .crisis_bg .crisis p img {width:100%;}
/* ======================================7행============================ */
#wrap .wwf_bg {
    background-image:url(../images/wwf.jpg);
    position:relative;
}
#wrap .wwf_bg:before {
    content:''; display:block; width:100%; height:100%;
    background-color:#fff; opacity:0.8;
    position:absolute; left:0; top:0; z-index:10;
}
#wrap .wwf_bg .wwf {}
#wrap .wwf_bg .wwf * {
    text-align:center;
    position:relative; z-index:11;
}
#wrap .wwf_bg .wwf h1 {
    font-size:1.88rem; font-weight:700; line-height:1.3;
}
#wrap .wwf_bg .wwf p {font-size:0.81rem;}
#wrap .wwf_bg .wwf p:nth-child(1) {}
#wrap .wwf_bg .wwf p:nth-child(2) {}
/* ======================================8행============================ */
#wrap .activity_bg {}
#wrap .activity_bg .activity {}
#wrap .activity_bg .activity h1 {
    text-align:center;
    margin-bottom:40px;
}
#wrap .activity_bg .activity .details {
    display:grid;
    grid-template-areas:
        'public'
        'corporation'
        'nature';
    gap:20px;
}
#wrap .activity_bg .activity .details * {color:#fff;}
#wrap .activity_bg .activity .details li {
    padding-top:94px;
    background-size:cover; background-position:center;
}
#wrap .activity_bg .activity .details li:nth-child(1) {
    grid-area:public; /* grid 2차원 정렬을 위한 자식 이름 짓기 (대중) */
    background-image:url(../images/melt_28t.png);
}
#wrap .activity_bg .activity .details li:nth-child(2) {
    grid-area:corporation;
    background-image:url(../images/wwf.jpg);
}
#wrap .activity_bg .activity .details li:nth-child(3) {
    grid-area:nature;
    background-image:url(../images/minus_50per.png);
}
#wrap .activity_bg .activity .details li .txt {
    padding:20px;
    background-color:rgba(0,0,0,0.5);
}
#wrap .activity_bg .activity .details li .txt dt {font-size:1.38rem; margin-bottom:18px;}
#wrap .activity_bg .activity .details li .txt dd {font-size:0.81; line-height:1.7;}
/* ======================================9행============================ */
#wrap .gift_bg {background-image:url(../images/minus_50per_bg.png); padding:70px 15px; text-align:center;}
#wrap .gift_bg .gift .title {
    text-align:left; margin-bottom:40px;
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:flex-start;
}
#wrap .gift_bg .gift .title h1 {color:#fff;}
#wrap .gift_bg .gift .title .sponsor_btn {margin:0;}
#wrap .gift_bg .gift .list {
    display:grid; 
    grid-template-areas:
        'pouch'
        'echoback'
        'keyring'
    ;
}
#wrap .gift_bg .gift .list li {
    text-align:center; width:100%; margin-bottom:22px;
}
#wrap .gift_bg .gift .list li:nth-child(1) {grid-area:pouch;}
#wrap .gift_bg .gift .list li:nth-child(2) {grid-area:echoback;}
#wrap .gift_bg .gift .list li:nth-child(3) {grid-area:keyring;}
#wrap .gift_bg .gift .list li .gift_img {height:150px; overflow:hidden;}
#wrap .gift_bg .gift .list li .gift_img img {
    width:100%; transform:translateY(-100px);
}
#wrap .gift_bg .gift .list li h2,
#wrap .gift_bg .gift .list li p {line-height:1.7; color:#fff;}
#wrap .gift_bg .gift .list li h2 {margin-top:13px;}
#wrap .gift_bg .gift .list li p {}
#wrap .gift_bg .gift > p {background-color:#fff; line-height:1.7; display:inline-block;}
/* ======================================10행============================ */
#wrap .notice_bg {background-color:#E4E5EA; padding:70px 15px;}
#wrap .notice_bg .notice {font-size:1.38rem; font-weight:700;}
#wrap .notice_bg .notice dl {}
#wrap .notice_bg .notice dl dt {font-size:1.38rem; font-weight:700;}
#wrap .notice_bg .notice dl dd {line-height:1.7;}